.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #1f1f1f;
  color: #f1f1f1;
  border-radius: 12px;
  margin-top: 2rem;
}
  
.heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #ffffff;
}

.tableContainer {
  overflow-x: auto;
  background-color: #2a2a2a;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  color: #eaeaea;
  min-width: 500px;
}

.table thead {
  background-color: #333;
}

.table th,
.table td {
  &:first-of-type {
    width: 200px;
  }
  
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #444;
  text-align: left;
}

.table th {
  text-transform: uppercase;
  color: #bdbdbd;
  font-weight: 600;
}

.table tbody tr:hover {
  background-color: #3b3b3b;
}

.empty {
  color: #ccc;
  font-style: italic;
  text-align: center;
  padding: 2rem 0;
}
