#root {
  width: 100%;
  padding-bottom: 40px;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.current {
  color: #fff;
  background-color: #f0f;
}

main {
  padding: 40px 30px;
}

.loader {
  text-align: center;
  padding: 20px;
}